
{% block table %}

    <div>
        <table class="table" width="100%" align="center">
            <thead>
                <tr>
                    <th colspan="4" class="text-center table-success"> Ofertes disponibles </th>
                </tr>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titol</th>
                    <th scope="col">Descripcio</th>
                    <th scope="col">Data Publicació</th>
                </tr>
            </thead>
            <tbody>
            {% for oferta in ofertes %}
                <tr>
                    <td>{{ oferta.id }}</td>
                    <td> {{ oferta.titol }} </td>
                    <td>{{ oferta.descripcio }}</td>
                    <td>{{ oferta.dataPubString }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}