<div class="modal fade" id="{{ oferta.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detall de l'oferta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ID: {{ oferta.id }}</p>
                <br/>
                <p>Descripcio: {{ oferta.descripcio }}</p>
                <br/>
                <p>Data de Publicació: {{ oferta.dataPubString }}</p>
                <br/>
                <p>Nom de l'empresa que l'ha publicat: </p>
                <a href="{{ path("empresa_detall", {'id': oferta.empresa.id}) }}"> {{ oferta.empresa.nom }} </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
</div>