{% extends 'base.html.twig' %}

{% block title %}JobOrWork{% endblock %}

{% block body %}
    {% for oferta in ofertes %}
        {{ include('/oferta/modalsDetallOferta.html.twig', {'oferta': oferta}) }}
    {% endfor %}

    <div>
        <table class="table" width="100%" align="center">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titol</th>
                <th scope="col">Descripcio</th>
                <th scope="col">Data Publicació</th>
                <th scope="col">Empresa que l'ofereix</th>
                <th scope="col">Detall</th>
            </tr>
            </thead>
            <tbody>
            {% for oferta in ofertes %}
                <tr>
                    <td>{{ oferta.id }}</td>
                    <td>{{ oferta.descripcio }}</td>
                    <td>{{ oferta.dataPubString }}</td>
                    <td>{{ oferta.empresa.nom }}</td>
                    <td>
                        <button id="btn-{{ oferta.id }}" type="button" class="btn btn-primary"> Detalls </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
        {% for oferta in ofertes %}
        $("#btn-{{ oferta.id }}").click(function() {
            $('#{{ oferta.id }}').modal('show');
        });
        {% endfor %}
    </script>



{% endblock %}