{% extends 'base.html.twig' %}

{% block title %}JobOrWork{% endblock %}

{% block body %}
    {% for oferta in ofertes %}
        {{ include('/oferta/modalsDetallOferta.html.twig', {'oferta': oferta}) }}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-1 col-md-2"></div>
            <div class="col-10 col-md-8 mt-5 text-center">
                <h3>Ofertes disponibles</h3>
            </div>
            <div class="col-1 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-1 col-md-2"></div>
            <div class="col-10 col-md-8 mt-5">
                <table class="table" width="100%" align="center">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">ID</th>
                            <th class="text-center" scope="col">Titol</th>
                            <th class="text-center" scope="col">Detall</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for oferta in ofertes %}
                        <tr>
                            <td class="text-center">{{ oferta.id }}</td>
                            <td class="text-center">{{ oferta.titol }}</td>
                            <td class="text-center">
                                <button id="btn-{{ oferta.id }}" type="button" class="btn btn-primary"> Detalls </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1 col-md-2"></div>
        </div>
    </div>

    <script>
        {% for oferta in ofertes %}
            $("#btn-{{ oferta.id }}").click(function() {
                $('#{{ oferta.id }}').modal('show');
            });
        {% endfor %}
    </script>



{% endblock %}
