{% extends 'base.html.twig' %}

{% block title %} JobOrWork - Detall Empresa {% endblock %}

{% block body %}

    <div class="container">
        <div class="row container-detall">
           <div class="col-md-4">
                <img src="{{ asset('images/' ~ empresa.logo ) }}">
           </div>
            <div class="col-md-8">
                <div>
                    <div class="alert alert-primary" role="alert">
                        <h3>Nom de l'empresa: {{  empresa.nom }} </h3>
                    </div>
                    <div>
                        <ul>
                            <li> Nom: {{ empresa.nom }} </li>
                            <li> ID: {{ empresa.id }} </li>
                            <li> Tipus: {{ empresa.tipus }} </li>
                            <li> Correu: {{ empresa.correu }} </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-3">
                {{ include('/oferta/listTableOfertes.html.twig', {'ofertes': empresa.ofertes }) }}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}