{% extends 'base.html.twig' %}

{% block title %} JobOrWork - Empreses {% endblock %}

{% block body %}
    {% for empresa in empreses %}
        {{ include('/empresa/modalsDetallEmpresa.html.twig', {'empresa': empresa}) }}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-1 col-md-2"></div>
            <div class="col-10 col-md-8 mt-5 text-center">
                <h3>Empreses registrades</h3>
            </div>
            <div class="col-1 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-1 col-md-2"></div>
            <div class="col-10 col-md-8 mt-5">
                <table class="table" width="100%" align="center">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Titol</th>
                        <th class="text-center" scope="col">Detall</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for empresa in empreses %}
                        <tr>
                            <td class="text-center">{{ empresa.id }}</td>
                            <td class="text-center">{{ empresa.nom }}</td>
                            <td class="text-center">
                                <button id="btn-{{ empresa.id }}" type="button" class="btn btn-primary"> Detalls </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1 col-md-2"></div>
        </div>
    </div>

    <script>
        {% for empresa in empreses %}
        $("#btn-{{ empresa.id }}").click(function() {
            $('#{{ empresa.id }}').modal('show');
        });
        {% endfor %}
    </script>



{% endblock %}
