<div class="modal fade" id="{{ empresa.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detall de l'empresa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Nom: {{ empresa.nom }}</p>
                <br/>
                <p>ID: {{ empresa.id }}</p>
                <br/>
                <p>Tipus: {{ empresa.tipus }}</p>
                <br/>
                <p>Logo: </p>
                <img src="{{ asset('images/' ~ empresa.logo ) }}">
                <br/>
                <p>Correu: {{ empresa.correu }}</p>
                <br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
</div>
