<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JobOrWork{% endblock %}</title>
        {% include('externalCSS.html.twig') %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css' ) }}">
        {% endblock %}

    </head>
    <body>
        {% include('menu.html.twig') %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
