{% block navBar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path("index") }}">JobOrWork</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active ml-2" href="{{ path("index") }}">Home</a>
                <a class="nav-item nav-link active ml-2" href="{{ path("index") }}">Ofertes</a>
                <a class="nav-item nav-link active ml-2" href="{{ path("empreses") }}">Empreses</a>
            </div>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Busca una empresa/oferta" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <button class="btn btn-outline-success ml-5">Login</button>
    </nav>

{% endblock %}

